@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title GameON ...</h2>

<h3>
    Web application for social gatherings organization such as football,
    basketball, board games and other similiar activity.
</h3>
